site_name: Isik's Tech Documentation
site_url: https://docs.isiks.tech
theme:
  name: material
  logo: assets/isikstech_tp.png
  favicon: assets/isikstech_tp.ico
  icon:
    repo: material/github
    admonition:
      warning: octicons/alert-16
      note: octicons/tag-16
      success: octicons/check-16
      tip: octicons/squirrel-16
      failure: octicons/x-circle-16
      quote: octicons/quote-16
      
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.indexes
    - toc.follow
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - navigation.footer
    - content.code.copy
    
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: amber
      accent: deep purple

    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: grey
      accent: amber
      
extra_css:
  - stylesheets/extra.css
  
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: [!relative $config_dir]
      check_paths: true
      url_download: true
  - pymdownx.tilde
  - pymdownx.superfences
  - sane_lists
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - md_in_html

plugins:
  - mkdocs-pdf

extra:
  generator: false
  analytics:
    provider: google
    property: G-D9R9ZZFJKC
  social:
    - icon: material/youtube
      link: https://www.youtube.com/c/isikstech
      name: Isik's Tech YouTube Channel
    - icon: material/twitter
      link: https://twitter.com/IsiksTech
      name: Isik's Tech Twitter Page
    - icon: material/github
      link: https://github.com/xbst
      name: Isik's Tech Github Profile
    - icon: simple/discord
      name: Isik's Tech Discord Server
      link: https://discord.gg/dNd5fB74J7
    - icon: material/store
      link: https://store.isiks.tech
      name: Official Isik's Tech Store
      
copyright: Copyright &copy; 2025 XBST LLC

repo_url: https://github.com/xbst
repo_name: Isik's Tech GitHub


nav:
  - index.md
  - "Birds' Nest Boards":
    - "Birds' Nest (USB)":
      - "Manual": "Birds-Nests/Birds-Nest/Birds-Nest-Manual.md"
      - "GitHub Repository": "https://github.com/xbst/Birds-Nest/"
      - "Store Page": "https://store.isiks.tech/products/birds-nest"
    - "Birds' Nest CAN":
      - "Manual": "Birds-Nests/Birds-Nest-CAN/Birds-Nest-CAN-Manual.md"
      - "GitHub Repository": "https://github.com/xbst/Birds-Nest-CAN/"
      - "Store Page": "https://store.isiks.tech/products/birds-nest-CAN"
  - "Box Turtle Controllers":
    - "AFC-Lite":
      - "Manual": "Box-Turtle-Controllers/AFC-Lite/AFC-Lite-Manual.md"
      - "GitHub Repository": "https://github.com/xbst/AFC-Lite/"
      - "Store Page": "https://store.isiks.tech/products/AFC-Lite"
    - "AFC-Pro":
      - "Manual": "Box-Turtle-Controllers/AFC-Pro/AFC-Pro-Manual.md"
      - "GitHub Repository": "https://github.com/xbst/AFC-Pro/"
      - "Store Page": "https://store.isiks.tech/products/AFC-Pro"
  - "KUSBA":
    - KUSBA:
      - "Instructions": "https://github.com/xbst/KUSBA/blob/main/Docs/v2-Rampon-Firmware.md"
      - "GitHub Repository": "https://github.com/xbst/KUSBA/"
      - "Store Page": "https://store.isiks.tech/products/kusba-klipper-usb-accelerometer"
    - KUSBA Pro:
      - "Instructions":
        - "LIS2DW Instructions": "KUSBA-USB-Accelerometers/KUSBA-Pro/Instructions/LIS2DW.md"
        - "ADXL345 Instructions": "KUSBA-USB-Accelerometers/KUSBA-Pro/Instructions/ADXL345.md"
        - "Mount Assembly": "KUSBA-USB-Accelerometers/KUSBA-Pro/Instructions/Mount.md"
      - "GitHub Repository": "https://github.com/xbst/KUSBA-PRO/"
      - "Store Page": "https://store.isiks.tech/products/KUSBA-PRO"
  - "Nevermore PCBs":
    - "Nevermore Max & Stealthmax PCBs": "https://github.com/xbst/Nevermore-PCB"
    - "Nevermore BME280 & SGP40 Sensors": "https://github.com/xbst/Nevermore-Sensors"
    - "Store Pages":
      - "Nevermore Max PCB": "https://store.isiks.tech/products/nevermore-max-controller-pcb"
      - "Nevermore Mini & Stealthmax PCB": "https://store.isiks.tech/products/nevermore-stealthmax-pcb"
      - "Nevermore Stealthmax PCB 2": "https://store.isiks.tech/products/nevermore-stealthmax-2-pcb"
      - "Nevermore Sensors": "https://store.isiks.tech/products/bme280-sgp40-air-quality-sensors-for-nevermore-air-filters"
  - "PiCAN":
    - "GitHub Repository (Instructions)": "https://github.com/xbst/PiCAN"
    - "Store Page": "https://store.isiks.tech/products/pican-usb-to-can-bus-adapter"
  - "ToqueCAN":
    - "Manual": "ToqueCAN/ToqueCAN-Manual.md"
    - "GitHub Repository": "https://github.com/xbst/ToqueCAN/"
    - "Store Page": "https://store.isiks.tech/products/toquecan"
  - "MOAR_CAN":
    - "Manual": "MOAR_CAN/MOAR_CAN-Manual.md"
    - "GitHub Repository": "https://github.com/xbst/MOAR_CAN"
    - "Store Page": "https://store.isiks.tech/products/MOAR_CAN"
  - "Ouroboros":
    - "Mount & Wiring": "Ouroboros/wiring.md"
    - "Firmware Setup": "Ouroboros/Firmware-Setup.md"
    - "Motor Setup":
      - "Stepper Motor Setup":
        - "Stepper Motor Setup": "Ouroboros/Stepper-Setup.md"
        - "Calibration":
          - "Isik's Tech Encoder Steppers": "Ouroboros/IT.md"
          - "Manual Calibration": "Ouroboros/Stepper-Calibration.md"
    - Ouroboros/gibberish.md
    - "Store Page": "https://store.isiks.tech/products/ouroboros"
